/*Hecho por Eduardo Oveido Blanco
eduardo.oviedo@gmail.com*/

body{
	background:#d1d5d8;
}
/* Navbar style */
.navbar{
	margin-bottom: 0;
}
.navbar-default {
	background-color: #92002a;
	border-color: #ffffff;
	border: 0;
	border-radius: 0;
}
.navbar-default .navbar-brand {
	color: #fafbfb;		
}
.navbar-default .navbar-brand img{
	max-width: 115px;	
	margin-top: -15px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #900130;
}
.navbar-default .navbar-text {
	color: #fafbfb;
}
.navbar-default .navbar-nav > li > a {
	color: #fafbfb;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fafbfb;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #900130;
	background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #900130;
	background-color: #ffffff;
}
.navbar-default .navbar-toggle {
	border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fafbfb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #fafbfb;
}
.navbar-default .navbar-link {
	color: #fafbfb;
}
.navbar-default .navbar-link:hover {
	color: #900130;
}

/* Main content */

/*home header*/
main {
	/*background: url('../images/background.jpg') no-repeat center 0 ;*/
	min-height:650px;
	/*background-size:contain;*/
}
.no-bg {
	background:none;
}

header{
	background: url('../images/background.jpg') no-repeat center 0 ;
	padding-top: 10px;
	padding-bottom: 10px;
	background-size:cover;
	min-height: 320px;
}

header .container{
	color:#fff;
}

header .container h1, header .container h2 {
	font-weight: bold;
	text-shadow: -4px 4px 12px #000;
}

header .container  h2 {
	font-size: 28px;
	padding: 0;
	margin: 0;
}

header .container button {
	margin: 28px 0 0 0;
	height: 46px;
	font-size: 20px;
	width: 45%;
}

header .container .col-md-6.no-padding {
	padding:0;
}

.trump-button {
	width:100%;
	background: rgb(155, 0, 42);
	background: -moz-linear-gradient(83deg, rgb(155, 0, 42) 0%, rgb(99, 6, 22) 89%);
	background: -webkit-linear-gradient(83deg, rgb(155, 0, 42) 0%, rgb(99, 6, 22) 89%);
	background: -o-linear-gradient(83deg, rgb(155, 0, 42) 0%, rgb(99, 6, 22) 89%);
	background: -ms-linear-gradient(83deg, rgb(155, 0, 42) 0%, rgb(99, 6, 22) 89%);
	background: linear-gradient(173deg, rgb(155, 0, 42) 0%, rgb(99, 6, 22) 89%);
	color:#fff;
	border-radius:5px;
	border:none;

}

.no-padding{
	padding:0 !important;
}


/* Section */

.container.box-wrapper {
	box-shadow: 2px 1px 14px #333;
	margin:10px auto 30px;
}

.boxes{
	background:#a9adb0; 
}

.box {
	background:#a9adb0;
	height:212px;
	position:relative;
}

.box .trump-button{
	width: 122px;
	height: 25px;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.box.middle{
	background:#c4c8cb;
}

.box h3 {
	padding:20px 0 0;
	margin:26px 0 0 0;
	text-align:center;
	text-transform:uppercase;
	color:#900027;
}

.box p{
	margin: 13px auto;
	width: 88%;
	line-height: 27px;
}
span.icon{
	display: block;
	width: 92px;
	height: 70px;
	background: url("../images/Icon_compliance_training.png") no-repeat 0 0;
	margin: 0 auto;
	position: absolute;
	top: -51px;
	left: 117px;
	z-index: 2;
}

.box.middle span.icon{
	background: url("../images/Icon_skillport_licenses.png") no-repeat 0 0;
}

.box.last span.icon{
	background: url("../images/Icon_upcoming_courses.png") no-repeat 0 0;	
}

.box ul{
	margin:13px auto;
}

.box ul ol{
	color: #430012;
	padding: 0;
	font-weight: bold;
	font-size: 14px;
}

.bottom-content {
	background:#fff;
	padding:60px 0 45px 0;
}

.faq-col {
	margin:40px 0 0 0;
}

.bottom-content h3{
	color: #900027;
	font-size: 28px;
	font-weight: bold;
	margin: 0 0 0 27px;
}

.bottom-content ul {
	list-style: none;
	padding: 0;
	margin: 2px 0 0 20px;
}

.bottom-content ul li {
	color: #430012;
	font-weight: bold;
	padding: 14px 0;
	border-bottom: 1px solid #c4c8cb;
}


.bottom-content .trump-button {
	width: 122px;
	margin: 14px 0 0 25px;
}
/* Footer */

footer{
	overflow:hidden;
	margin:0 0 50px 0;
}

footer p{
	margin: 5px 0 0 0;
	width: 94%;
	line-height: 25px;
}



/* Media Queries */

@media (max-width: 767px) {	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fafbfb;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #900130;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #900130;
		background-color: #ffffff;
	}
}

@media (min-width: 767px) {
	.navbar .divider-vertical {
		height: 10px;
		margin: 20px 3px;
		border-left: 1px solid #F2F2F2;
	}
	.navbar-default .navbar-brand img{
		max-width: 250px;
	}
	.navbar-nav.user-status li a{
		font-size: 12px;
	}
	.navbar-brand,
	.navbar-nav li a {
	    line-height: 50px;
	    height: 50px;
	    padding-top: 0;
	}
	.navbar-nav li.active a {
		line-height: 30px;
		height: 30px;
		border-radius: 4px;
		margin-top: 10px;
		-webkit-box-shadow: inset 0px 2px 1px rgba(50, 50, 50, 0.75);
	    -moz-box-shadow:    inset 0px 2px 1px rgba(50, 50, 50, 0.75);
	    box-shadow:         inset 0px 2px 1px rgba(50, 50, 50, 0.75);
	}

	header{
		padding-top: 225px;
		padding-bottom: 225px;
		min-height: 500px;
	}

	header .container h1{
		font-size: 70px;
	}

	header .container h2 {
		font-size:28px;
		line-height: 13px;
	}

	header .container button {
		font-size: 29px;
		width:75%;
	}

	section{
		margin-top: -230px;
	}

	.container.box-wrapper {
		margin:83px auto 33px; 
	}	

	.box {
		height:253px;
	}

	.box h3{
		padding:0;
	}

	.faq-col{
		background:url("../images/BG_Lines.png") repeat-y -6px 0;
	}

	footer{
		overflow:hidden;
		margin:0 0 50px 0;
	}

}

@media(min-width:1200px){
	.container{
		width: 1024px;
	}
}








/*
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
